/*
    created: 13-dec-2019, 11:31
    author : MaikelNelis
*/

*,  *::before, *::after{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}
body{
    padding: 0%;
    margin: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    width:100vw;
    height: 100vh;
    background-color: brown;
}
.container{
    width: 800px;
    max-width: 80%;
    background-color: cornsilk;
    padding: 10px;
    border-radius: 5px ;
    box-shadow: 0   0 10px    2px;
    margin-top: 25%;
}

.btn-grid{
    display: grid;
    grid-template-columns: repeat(2,auto);
    gap: 10px;
    margin-top: 10px;
}

.btn{
    background-color: hsl(200, 100%, 50%);
    border: 1px solid hsl(200, 100%, 30%);
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    outline: none;
}
.btn:hover{
    border-color: yellow;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  .center2 {
    display: block;
    margin-left: 17.5%;
    margin-right: 10%;
    width: 50%;
  }