/*
    created: 13-dec-2019, 11:31
    author : MaikelNelis
*/

*,  *::before, *::after{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}
body{
    padding: 0%;
    margin: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    width:100vw;
    height: 100vh;
    background-image: url(./Afbeeldingen/Farm\ background2.gif);
    background-repeat: no-repeat;
    background-size: cover;

    /*
    background-color: rgb(26, 14, 1);
    */

}
.container{
    width: 800px;
    max-width: 80%;
    background-color: rgb(128, 122, 98);
    padding: 10px;
    border-radius: 5px ;
    box-shadow: 0   0 10px    2px;
    margin-top: 25%;
}

.btn-grid{
    display: grid;
    grid-template-columns: repeat(2,auto);
    gap: 10px;
    margin-top: 10px;
}

.btn{
    background-color: hsl(199, 100%, 94%);
    border: 1px solid hsl(0, 0%, 0%);
    border-radius: 5px;
    padding: 5px 10px;
    color: rgb(253, 245, 129);
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    width: 100%;
    
    
}
.btn:hover{
    border-color: rgb(238, 255, 0);
    cursor: grab;
}
.center{
    padding-right: 5%;
    
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  .background {
    
      background-image: url("./Afbeeldingen/barn.png") ;
      background-repeat: no-repeat;
      /*
      display: block;
      margin-left: auto;
      margin-right: auto;
      padding-left: 1%; 
      padding-right: 1%; 
      width: 85%; 
      height: 150%; 
      margin-top: 1%;
    */
      }
